# URL for the Formio server (embedded at build time via webpack DefinePlugin)
FORMS_FLOW_FORMIO_URL=http://localhost:3001

# URL for the custom services backend API server
FORMS_FLOW_CUSTOM_SERVICES_URL=http://localhost:5005
